{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row" style="margin-top: 10px;">
        <div class="col-5">
            <img src="{{ city.image.url }}" class="img-fluid">
        </div>
        <div class="col">
            <div class="jumbotron">
                <h1 class="display-4">{{ city.name }}</h1>
                <h4>{{ city.country.name }} <i class="{{ city.country.flag_css }}"></i></h4>
                <hr class="my-4">
                <p>{{ city.description }}</p>
            </div>
        </div>
    </div>
    <hr>
    
    <div class="comment">
        <div class="date">Miercoles 21 de Diciembre</div>
        <strong>Camila Gomez</strong>
        <p>Este es un comentario de Ejemplo</p>
    </div>

    <div class="container">
        <h2>Leave your comments</h2>
        <form action="/" method="POST" class="post-form">
            <p>Esto es un formulario para agregar comentarios</p>
            <button type="submit" class="save btn btn-dark">Save</button>
        </form>
    </div>
</div>
</body>
</html>
{% endblock %}